.search__input {
  width: 90%;
  height: 25px;
  font-size: 18px;
  border-radius: 10px;
}

.search {
  text-align: center;
}

@media (min-width: 992px) {
  .search__input {
    width: 100%;
    max-width: 1100px;
  }
}
