.blog-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  max-width: 90%;
  margin: 0 auto;
    
}
  
  @media (min-width: 992px) {
    .blog-list {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1100px;
    }
  }

.loading{
  display: block;
  text-align: center;
}

.sort{
  
}
  