.sort-container{
    display: flex; 
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px; */
}

@media screen and (min-width: 992px){
    .sort-container{
        display: flex; 
        /* margin-left: 180px; */
        margin-top: 15px;
        margin-bottom: 20px; 
    }

    .button--sort{
        margin-left: auto;
        margin-right: 70px;
    }
    
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 10px; 
    
    }

    
}


.button--sort{
    margin-left: auto;
    margin-right: 170px;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px; 

}



