.sort-container {
  display: flex;
}

@media screen and (min-width: 992px) {
  .sort-container {
    display: flex;
    /* margin-left: 180px; */
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.button--sort {
  margin-left: auto;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
  .button--sort {
    margin-right: 160px;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
}
