.blog-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding-bottom: 20px;
  box-shadow: 0 0 8px rgba(128, 0, 128, 0.1);
  height: 460px;
}

.blog-item__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px;
  border-radius: 11px 11px 0 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.blog-item__description {
  position: relative;
  font-size: 14px;
  text-align: left;
  color: black;
  padding: 0 30px;
}

.button {
  margin: auto 0 0;
  text-align: center;
}

.button--add {
  background-color: #800080;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  width: 80%;
}

.blog-item__details {
  display: flex;
  justify-content: space-between;
}

.blog-item__title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
}

.blog-item__price {
  font-size: 20px;
  font-weight: bold;
  color: #33006f;
  text-align: right;
  padding-right: 30px;
}
